/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Mobile First Stylesheet - Max-Width 500px*/
.container {
    width: 90%;
    max-width: 500px;
    margin: 25px auto;
    padding: 25px 0;
    border: 5px dashed dodgerblue;
    background: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
header h1 {
    font-size: 4rem;
    text-align: center;
    color: dodgerblue;
    font-weight: 700;
}
header h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 3rem;
    text-align: center;
    color: darkred;
    font-weight: 600;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main.splash-page img {
    width: 350px;
    -webkit-animation: mover 0.5s infinite  alternate;
    animation: mover 0.5s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: darkred;
    color: white;
    font-size: 2.4rem;
    font-weight: 400;
}
footer button:hover {
    background: dodgerblue;
    color: white;
}
/* game.html Stylesheet */

main.game-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main.game-page .score {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main.game-page .score h4 {
    color: #545454;
    font-size: 2rem;
    font-weight: 600;
}
main.game-page .score .score-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
main.game-page .score .score-box {
    height: 75px;
    width: 75px;
    background: white;
    border: 2px solid #545454;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items:center;
}
main.game-page .score .score-box {
    font-size: 3.6rem;
    padding: 5px;
    font-weight: 400;
    font-family: 'Roboto', monospace;
    color: #545454;
}
main.game-page .result-window {
    height: 200px;
    padding: 25px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #545454;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
main.game-page .result-window h3 {
    font-weight: bold;
    font-size: 2.4rem;
    color:#545454;
}
main.game-page .game-buttons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    margin-bottom: 25px;
}

main.game-page .game-buttons button {
    width: 125px;
    height: 125px;
    overflow: hidden;
    border: 2px solid #545454;
    border-radius: 10px;

}
main.game-page .game-buttons button img {
    height: 125px;
}
